@font-face {
  font-family: 'Peignot';
  font-style: normal;
  font-weight: 400;
  src: local('Peignot '), url('/assets/fonts/Peignot.woff') format('woff');
}

html {
	overflow-y: scroll;
}

body {
  padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
}

